vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|26 Apr 2010 07:27:00 -0000
vti_author:SR|CABRINI\\Bassill.Dan
vti_modifiedby:SR|CABRINI\\Bassill.Dan
vti_nexttolasttimemodified:TW|26 Apr 2010 07:27:00 -0000
vti_timecreated:TR|27 Dec 2011 22:17:21 -0000
vti_cacheddtm:TX|27 Dec 2011 22:17:21 -0000
vti_filesize:IR|5543
vti_cachedlinkinfo:VX|S|images/img07.gif S|images/img08.gif S|images/img02.jpg S|images/img03.gif S|images/img04.gif S|images/img05.gif S|images/img06.gif S|images/img09.gif S|images/img07.gif
vti_cachedsvcrellinks:VX|NSUS|OHATS/Stylesheet/images/img07.gif NSUS|OHtiS/Stylesheet/images/img08.gif NSUS|OHATS/Stylesheet/images/img02.jpg NSUS|OHATS/Stylesheet/images/img03.gif NSUS|OHATS/Stylesheet/images/img04.gif NSUS|OHATS/Stylesheet/images/img05.gif NSUS|OHATS/Stylesheet/images/img06.gif NSUS|OHATS/Stylesheet/images/img09.gif NSUS|OHATS/Stylesheet/images/img07.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_syncofs_tutormentorprogramlocator.net\:21:TW|26 Apr 2010 07:27:00 -0000
vti_syncwith_tutormentorprogramlocator.net\:21:TW|27 Dec 2011 22:17:21 -ti00
