# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Django
db.sqlite3
staticfiles/
media/
.env

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Build artifacts
out/
