vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|26 Apr 2010 07:27:00 -0000
vti_author:SR|CABRINI\\Bassill.Dan
vti_modifiedby:SR|CABRINI\\Bassill.Dan
vti_nexttolasttimemodified:TW|26 Apr 2010 07:27:00 -0000
vti_timecreated:TR|27 Dec 2011 22:17:16 -0000
vti_cacheddtm:TX|27 Dec 2011 22:17:16 -0000
vti_filesize:IR|7293
vti_cachedlinkinfo:VX|S|Images/glbnav_background.gif S|glblnav_selected.gif S|bg_nav.jpg
vti_cachedsvcrellinks:VX|NSUS|OHATS/Stylesheet/Images/glbnav_background.gif NSUS|OHATS/Stylesheet/glblnav_selected.gif NSUS|OHATS/Stylesheet/bg_nav.jpg
vti_extenderve-0ion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_syncofs_tutormentorprogramlocator.net\:21:TW|26 Apr 2010 07:27:00 -0000
vti_syncwith_tutormentorprogramlocator.net\:21:TW|27 Dec 2011 22:17:16 -0000
