.FlatButton
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	font-weight: bold;
	font-size: 10px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=lightgrey,EndColorStr=gainsboro);
	width: 60px;
	height: 20px;
	color: Black;
	font-family: Verdana;
	
}

.FlatButton1
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	font-weight: bold;
	font-size: 10px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=greenyellow,EndColorStr=limegreen);
	width: 60px;
	heiidt: 20px;
	color: white;
	font-family: Verdana;
	
}

.background
{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= #FFFFE0,EndColorStr=#ffffff);
	
}


.style
{
	font-family: Verdana;
	 Font-Size: Smaller;
	 font-size: 12px;
}

.small
{
	Font-Size:X-Small;
	
	font-family :Verdana ;
	font-size :10px;
	}
.head
{
	font-size: medium;
	font-family: Verdana;
	font-size: 13px;
	background-color: lightskyblue;
}	
	
.Hand
{
	cursor:Hand;
}

.idwwindow
{
	background-color: ghostwhite;
}




.searchLabel
{
	FONT-SIZE: 10px;COLOR: #803530;FONT-FAMILY: Verdana, Courier New;text-decoration:none;
}