BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Sans-Serif, Arial
}
.Textbox {
	FONT-FAMILY: 'Times New Roman' , Sans-Serif; TEXT-ALIGN: left
}
.Label {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Sans-Serif, Arial; TEXT-ALIGN: left
}
