<%@ master language="C#" autoeventwireup="true" inherits="Event2, App_Web_event1.master.cdcab7d2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>OHATS Organisational History and Accommplishment Tracking System</title>
    <link rel="stylesheet" type="text/css" href="menu/anylink.css" />
    <link rel="stylesheet" type="text/css" href="CSS/pflaws.css" />
    <link rel="stylesheet" type="text/css" href="StyleSheet/EventInfo.css" />
    <link rel="stylesheet" type="text/css" href="StyleSheet/event1.css" />
    <link href="Stylesheet/tabstyle.css" rel="stylesheet" type="text/css" />
    <link href="Stylesheet/emx_nav_left.css" rel="stylesheet" type="text/css" />
    <link href="StyleSheet/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="StyleSheet/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="StyleSheet/ContactStylesheet.css" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript" src="menu/anylink.js"> </script>

    <script type="text/javascript" src="Stylesheet/anylink.js">
        /***********************************************
        * AnyLink CSS Menu script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        <link href="Stylesheet/EventCreate.css" rel="stylesheet" type="text/css" /> 
        ***********************************************/
    </script>

</head>
<body>
    <form id="form1" runat="server">
     <asp:ScriptManager EnablePageMethods="true" EnablePartialRendering="true" ID="ScriptManager1"
        AsyncPostBackTimeout="30000"
        runat="server">
    </asp:ScriptManager>
    <div align="center">
        <!--Header panel-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center">
                    <table width="94%" cellpadding="0" cellspacing="0" border="0" id="TABLE1">
                        <tr>
                            <td rowspan="2" valign="bottom" style="padding-top:3px">
                                <img src="Image/OHATS.jpg" style="float: left;" />
                            </td>
                            <td valign="top" align="right" style="display:none">
                                <a href="http://www.vattsystems.com/" target="_parent">
                                    <object width="207" height="56">
                                        <param name="movie" value="~/~/Image/banner.jpg">
                                        <embed id="test" runat="server" width="207" height="56"></embed></object></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 19px;">
                                <div style="display: inline;">
                                    <table style="margin: 0px 0px 0px 0px;">
                                        <tr>
                                            <td>
                                                <a href="Eventsearchcontent.aspx" class="menu" style="padding-left: 5px;" onmouseover="dropdownmenu(this, event, 'Div1')">
                                                    <asp:Label ID="evnt" runat="server" Text="Event Search Home " ToolTip="Event Search Home"></asp:Label>
                                                </a>
                                            </td>
                                            <td>
                                                <span id="span" runat="server" style="font-size: 12px; padding-left: 5px;">|</span>
                                                <a id="lblcreateEvent" runat="server" href="EventInfo.aspx" class="menu" style="padding-left: 5px;">
                                                    <asp:Label ID="lblCrt" runat="server" Text="Create Event" ToolTip="Create Event"></asp:Label>
                                                </a>
                                            </td>
                                            <td>
                                                <span id="span1" runat="server" style="font-size: 12px; padding-left: 5px;" visible="false">
                                                    |</span> <a href="ContactInfoListcontent.aspx" class="menu" style="padding-left: 5px;">
                                                        <asp:Label ID="lblCnt" runat="server" Text="Contacts" ToolTip="Contacts" Visible="False"></asp:Label>
                                                    </a>
                                            </td>
                                            <td>
                                                <span style="font-size: 12px; padding-left: 5px;">|</span> <a href="CredentialMetrics.aspx"
                                                    class="menu" style="padding-left: 5px;">
                                                    <asp:Label ID="Label2" runat="server" ToolTip="Metrics" Text="Metrics"></asp:Label>
                                                </a>
                                            </td>
                                            <td>
                                                <span style="font-size: 12px; padding-left: 5px;">|</span> <a href="credentialsAdvancedMetrics.aspx"
                                                    class="menu" style="padding-left: 5px;">
                                                    <asp:Label ID="Label3" runat="server" ToolTip="Advanced Metrics" Text="Advanced Metrics">
                                                    </asp:Label>
                                                </a>
                                            </td>
                                            <td>
                                                <span style="font-size: 12px; padding-left: 5px;">|</span> <a href="home.aspx" class="menu"
                                                    style="padding-left: 5px;" onmouseover="dropdownmenu(this, event, 'Div2')">
                                                    <asp:Label ID="lblWeb" runat="server" Text="T/MC Websites" ToolTip="T/MC Websites"></asp:Label>
                                                </a>
                                            </td>
                                            <td>
                                                <span style="font-size: 12px; padding-left: 5px;">|</span>
                                                <asp:LinkButton ID="lbSignOut" Style="font-size: 8pt; font-family: Verdana; color: red;"
                                                    runat="server" ValidationGroup="100" Text="Sign Out" ToolTip="Sign Out" OnClick="lbSignOut_Click"></asp:LinkButton>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="Div2" class="anylinkcss" style="width: 140px; z-index: 107; background-color: #ffffff;
                                    font-size: small">
                                    <a href="http://www.tutormentorconnection.org" target="_blank" style="font-size: 10px;
                                        font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                        border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                        >&nbsp;&nbsp;Tutor/Mentor Connection</a> <a href="http://www.tutormentorprogramlocator.net/Prgloc.aspx"
                                            target="_blank" style="font-size: 10px; font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                            border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                            >&nbsp;&nbsp;Program Locator</a> <a href="http://www.tutormentorconference.org" target="_blank"
                                                style="font-size: 10px; font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                                border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                                >&nbsp;&nbsp;Conference </a><a href="http://tutormentor.blogspot.com" target="_blank"
                                                    tmlearningnetwork style="font-size: 10px; font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                                    border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                                    >&nbsp;&nbsp;Blog</a> <a href="http://www.tutormentorconnection.org//LinksLibrary/tabid/560/Default.aspx"
                                                        target="_blank" style="font-size: 10px; font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                                        border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                                        >&nbsp;&nbsp;Links Library </a><a href="http://www.cabriniconnections.net" target="_blank"
                                                            style="font-size: 10px; font-weight: 500; color: #000000; font-family: Arial, Helvetica, sans-serif;
                                                            border-bottom-color: Black; border-bottom-style: solid; border-bottom-width:1px;">
                                                            >&nbsp;&nbsp;Cabrini Connections</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top" bgcolor="green" height="4px">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="5px">
                            </td>
                        </tr>
                    </table>
                    <table style="float: right; margin: 2px 28px 2px 0px;">
                        <%--padding:2px 25px 2px 0px;--%>
                        <tr>
                            <td>
                                <asp:Label ID="Label1" runat="server" Style="font-size: 8pt; font-family: Verdana;
                                    color: black;" Text="Welcome" ForeColor="Red"></asp:Label>
                            </td>
                            <td>
                                <asp:Label ID="LblName" runat="server" Style="font-size: 8pt; color: black; font-family: Verdana"
                                    ForeColor="Red"></asp:Label>
                            </td>
                            <td>
                                <asp:Label ID="LblComma" runat="server" Style="font-size: 8pt; font-family: Verdana;
                                    color: black;" Text=","></asp:Label>
                            </td>
                            <td>
                                <asp:Label ID="LblToday" runat="server" Style="font-size: 8pt; font-family: Verdana;
                                    color: black;" Text="Today is :" ForeColor="Red"></asp:Label>
                            </td>
                            <td>
                                <asp:Label ID="lbl_date" runat="server" Style="font-size: 8pt; font-family: Verdana;
                                    color: black;" ForeColor="Red"></asp:Label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Header Panel endz here-->
        <!-- Content Panel -->
        <asp:ContentPlaceHolder ID="Main" runat="server">
        </asp:ContentPlaceHolder>
        <!-- content Panel endz here-->
        <!--Footer Panel-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top" style="height: 19px">
                </td>
            </tr>
        </table>
        <!--Footer Panel endz here -->
    </div>
    </form>
</body>
</html>
