<%@ master language="C#" autoeventwireup="true" inherits="Event, App_Web_event.master.cdcab7d2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>OHATS Organisational History and Accommplishment Tracking System</title>
    <link rel="stylesheet" type="text/css" href="menu/anylink.css" />
    <link rel="stylesheet" type="text/css" href="CSS/pflaws.css" />
    <link href="StyleSheet/ContactStylesheet.css" rel="stylesheet" type="text/css" />

    <script language="javascript" type="text/javascript" src="menu/anylink.js"> </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <!--Header panel-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top1bg">
            <tr>
                <td align="center">
                    <table width="94%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td rowspan="2" valign="bottom" style="padding-top:3px">
                                <img src="Image/OHATS.jpg" style="float: left;" />
                            </td>
                            <td valign="top" align="right" style="display:none">
                                <a href="http://www.vattsystems.com/" target="_parent">
                                    <object width="207" height="56">
                                        <param name="movie" value="banner.swf">
                                        <embed id="test" runat="server" width="207" height="56"></embed></object></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 19px;">
                                <div style="float: right; margin: 0px 20px 0px 0px; display: inline;">
                                    <a href="Home.aspx" class="menu" style="float: left;">
                                        <asp:Label ID="lblHome" runat="server" Text="Home " ToolTip="Home"></asp:Label>
                                    </a><span style="font-size: 12px; padding-left: 5px; float: left;">|</span>
                                    
                                     <a href="Metrics.aspx"class="menu" style="padding-left: 5px; float: left;">
                                        <asp:Label ID="Label1" runat="server" ToolTip="Metrics" Text="Metrics"></asp:Label>
                                    </a><span style="font-size: 12px; padding-left: 5px; float: left;">|</span> <a href="AdvancedMetrics.aspx"
                                        class="menu" style="float: left; margin-left: -16px;">
                                        <asp:Label ID="Label3" runat="server" ToolTip="Advanced Metrics" Text="Advanced Metrics">
                                        </asp:Label>
                                    </a><span style="font-size: 12px; padding-left: 5px; float: left;">|</span> <a href="http://www.tutormentorconnections.org"
                                        class="menu" style="padding-left: 5px; float: left;" onclick="return clickreturnvalue()"
                                        onmouseover="dropdownmenu(this, event, 'Div1')">
                                        <asp:Label ID="Label2" runat="server" ToolTip="Help" Text="Help"></asp:Label>
                                    </a><a href="login.aspx" class="menu">
                                        <asp:Label ID="Label4" runat="server" ToolTip="Login" Text="Login"></asp:Label>
                                    </a>
                                </div>
                                <div id="Div1" class="anylinkcss">
                                    <a href="EventHelpcreate.aspx" target="_blank" style="font-size: 10px; font-weight: 500;
                                        color: #0074c4; font-family: Arial, Helvetica, sans-serif;">>&nbsp;&nbsp;Create
                                        Event</a> <a href="UpDateHelp.aspx" target="_blank" style="font-size: 10px; font-weight: 500;
                                            color: #0074c4; font-family: Arial, Helvetica, sans-serif;">>&nbsp;&nbsp;Update
                                            Event</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top" bgcolor="green" height="4px">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" height="5px">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Header Panel endz here-->
        <!-- Content Panel -->
        <asp:ContentPlaceHolder ID="Main" runat="server">
        </asp:ContentPlaceHolder>
        <!-- content Panel endz here-->
        <!--Footer Panel-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="top" style="height: 19px">
                </td>
            </tr>
        </table>
        <!--Footer Panel endz here -->
    </div>
    </form>
</body>
</html>
